* {
  margin: 0;
  padding: 0;
}

body{
background-color: rgb(153, 136, 136);
background-size: cover;
}

.container {
  position: absolute;
 
  width: 500px;
  height: 100px;
  text-align: center;
  top: 10%;
  left: 2%;
  transform: translate(-45%, -50%);
  padding: 10px 30px;
}
.containers {
  position: absolute;
 
  width: 500px;
  height: 100px;
  text-align: center;
  top: 10%;
  left: 2%;
  transform: translate(-45%, -50%);
  padding: 10px 30px;
}
button {
  margin: 10px;
  padding: 10px;
  width: 5%;
  border-radius: 10px;
  color: antiquewhite;
  background-color: midnightblue;
  border: none;
  font-size: 15px;
  outline: none;
}


button:active {
  box-shadow: 0px 2px dimgray;
  border: none;
  transform: translateY(4px);
}
.cat1 {
  position: absolute;
  text-align: center;
  transform: translate(-45%, -50%);
  padding: 10px 30px;
}

.dog{
     padding: 10px;
}
h1{
  padding:10px 10px;
}