* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url("log.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}


.container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 39%;
  height: 190px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
}


.signin{

  width: max-content;
  margin : auto;
}   

button { 
  margin-top: 1rem;
  padding: 7px;
  border-radius: 8%;
  color: white;
   background-color: midnightblue;
  border: none;
  font-size: 20px;
  outline: none;
}
h1{
	text-align: center;
	padding-top: 3%;
}
h5{
  font-size: 20px;
  font-style: italic;
  text-align : left;
}
