* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url("login.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 370px;
  height: 440px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;

}


h1 {
  padding: 0px 0px 10px;
}

label {
  float: left;
  margin: 3px 0px;
  padding: 2px;
}

input {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
}

button {
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 100px;
  color: antiquewhite;
  background-color: midnightblue;
  border: none;
  font-size: 20px;
  outline: none;
}

button:active {
  box-shadow: 0px 2px dimgray;
  border: none;
  transform: translateY(4px);
}